nav {
    background-color: yellow;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;    
}

div span {
    line-height: 50px;
    font-weight: 700;
    padding-left: 10px;
}

div ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 10px;
}

div ul li {
    display: block;
}

div ul li a {
    text-decoration: none;
    font-weight: 700;
}

div ul li a:hover {
    text-decoration: underline;
}