<nav>
    <div class="content">
        <span>Pokémon Storage System</span>
        <ng-container *ngIf="user !== undefined">
            <ul>
                <li>
                    <a routerLink="/trainer">Trainer</a>
                </li>
                <li>
                    <a routerLink="/catalogue">Pokémon</a>
                </li>
            </ul>
        </ng-container>
    </div>

</nav>