<main class="content">
    <h1>Hello {{ name }}</h1>
    <h2>Someones PC:</h2>
    <ul id="pokemon-container">
        <app-pokemon-trainer-item *ngFor="let pokemon of pokemons | async" [pokemon]="pokemon"></app-pokemon-trainer-item>
    </ul>
</main>