<li *ngIf="pokemon">
    <div>
        <img src="{{pokemon.imageUrl}}">
        <span>{{ pokemon.name }}</span>
        <app-favorite-button [pokemonName]="pokemon.name"></app-favorite-button>
    </div>
</li>
