<button (click)="onFavoriteClick()">
    <span *ngIf="isFavorite; then favorite else notFavorite"></span>

    <ng-template #notFavorite>Add</ng-template>
    <ng-template #favorite>Remove</ng-template>
    
</button>
