form {
    padding-top: 50px;
    margin: 0 auto;
    width: 90%;
}

form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form fieldset label {
    display: block;
}

form fieldset input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form button {
    margin: auto;
    height: 50px;
    width: 100px;
    font-weight: 700;
}
