<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset>
        <label for="username">Enter your username:</label>
        <input #username="ngModel" ngModel type="text" name="username" id="username" placeholder="Username" required
            minlength="3" maxlength="40" />
    </fieldset>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <div *ngIf="username.errors && (username.dirty || username.touched)">
        <p *ngIf="username.errors['required']">Username is required</p>
        <p *ngIf="username.errors['minlength']">Username is too short</p>
    </div>
</form>