<span *ngIf="isFavorite; then favorite else notFavorite">
</span>
<ng-template #favorite>
    <li>
        <div>
            <img src="{{pokemon.imageUrl}}">
            <span>{{ pokemon.name }}</span>
            <app-favorite-button [pokemonName]="pokemon.name"></app-favorite-button>
        </div>
    </li>
</ng-template>

<ng-template #notFavorite></ng-template>

    
