
div {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: yellow;
    border-radius: 5px;
    border: solid 3px yellow;
    margin: 5px 5px;
}

div:hover {
    border: solid 3px orange;
}

span {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

li {
    list-style: none;
}

.notFavorite {
    display: none;
}