#pokemon-container {
    margin-top: 25px! important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 85%;
    margin: 0 auto;
}