/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    max-width: 100%;
    margin-bottom: 10px;
}

.content {
    margin: auto;
    width: 90%;
    max-width: 920px;
}